.cart .list-group {
  height: 50%;
  overflow: hidden;
  overflow-y: auto;
}

.cart .total {
  height: 60vh;
}

.cart .total span {
  font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
  .cart .total {
    height: 40vh;
  }
}

@media screen and (max-width: 1024px){
  .cart .counter-btn {
    width: 100%;
    margin: 1px;
  }
}
