/* Container holding the image and the text */
.image-container {
    position: relative;
    text-align: center;
    width: 25vw;
    /*height: 25vw;*/
}

.image-container div {
    text-align: left;
    color: black;
    background: white;
    padding: 5px;
}

/* Bottom left text */
.image-container .bottom-left {
    border: 1px solid black;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.image-container .top-left {
    border: 1px solid black;
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.image-container .top-right {
    border: 1px solid black;
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.image-container .bottom-right {
    border: 1px solid black;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.image-container .centered {
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.image-container:hover img {
    opacity: .5;
}

.image-container div {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.image-container:hover div {
    color: white;
    background: black;
}

@media screen and (max-width: 768px){
    .image-container {
        width: 100vw;
        height: 100vw;
    }
}