.pagination .page-item .page-link {
  border-radius: 0 !important;
}

.pagination > li > button {
  background-color: white;
  color: black;
}

.pagination > li > button:focus,
.pagination > li > button:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > button {
  color: white;
  background-color: black !important;
  border: solid 1px black !important;
}

.pagination > .active > button:hover {
  background-color: black !important;
  border: solid 1px black;
}