.product h1 {
  font-size: 5rem;
}

.product h2 {
  border-top: 0.5rem solid black;
  font-size: 3rem;
  width: 50%;
}

.product p {
  font-size: 2rem;
}

.product button {
  font-size: 2rem;
  width: 10em;
  height: 2.5em;
  border-width: medium;
}

.product .img-thumbnail-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 200px;
  width: 40em;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.product .img-thumbnail-list li {
  display: inline-block;
  margin-left: 1rem;
}

.product .img-thumbnail-list li:first-child {
  margin-left: 0;
}

.product .main-image-container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 40em;
  height: 40em;
  overflow: hidden;
}

.product img {
  width: 100%;
  object-fit: contain;
}

.product .img-thumbnail {
  cursor: pointer;
  height: 200px;
  width: 200px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .product h1 {
    font-size: 3rem;
  }

  .product h2 {
    border-top: 0.5rem solid black;
    font-size: 2rem;
    width: 50%;
  }

  .product p {
    font-size: 1.5rem;
  }

  .product button {
    font-size: 1rem;
    width: 100%;
    border-width: medium;
  }

  .product .img-thumbnail-list {
    width: auto;
  }

  .product .main-image-container {
    width: 100vw;
    height: 100vw;
  }
}