.product-card {
  width: 20rem;
  height: 30rem;
}

.product-card a {
  width: 100%;
  height: 68%;
  text-decoration: none;
  color: black;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.product-card:hover img {
  opacity: .5;
}