#sidebar {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar h3 {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar .list-group {
  width: 15rem;
}

#sidebar .group {
  padding: 0 1rem;
  width: 15rem;
}

#sidebar.toggled {
  margin-left: 0;
}